wpa_supplicant.conf
/build-serialbridge-Desktop-Debug
/build*/
/serialbridge/CMakeLists.txt.user
/serialbridge/CMakeCache.txt
/serialbridge/CMakeFiles/3.7.2/CMakeCCompiler.cmake
/serialbridge/CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
/serialbridge/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
/serialbridge/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
/serialbridge/CMakeFiles/3.7.2/CMakeSystem.cmake
/serialbridge/CMakeFiles/3.7.2/CompilerIdC/a.out
/serialbridge/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
/serialbridge/CMakeFiles/3.7.2/CompilerIdCXX/a.out
/serialbridge/CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/serialbridge/CMakeFiles/cmake.check_cache
/serialbridge/CMakeFiles/CMakeDirectoryInformation.cmake
/serialbridge/CMakeFiles/CMakeOutput.log
/serialbridge/CMakeFiles/feature_tests.bin
/serialbridge/CMakeFiles/feature_tests.c
/serialbridge/CMakeFiles/feature_tests.cxx
/serialbridge/CMakeFiles/Makefile.cmake
/serialbridge/CMakeFiles/Makefile2
/serialbridge/CMakeFiles/progress.marks
/serialbridge/CMakeFiles/Progress/3
/serialbridge/CMakeFiles/Progress/count.txt
/serialbridge/CMakeFiles/SerialBridge.dir/build.make
/serialbridge/CMakeFiles/SerialBridge.dir/cmake_clean.cmake
/serialbridge/CMakeFiles/SerialBridge.dir/CXX.includecache
/serialbridge/CMakeFiles/SerialBridge.dir/depend.internal
/serialbridge/CMakeFiles/SerialBridge.dir/depend.make
/serialbridge/CMakeFiles/SerialBridge.dir/DependInfo.cmake
/serialbridge/CMakeFiles/SerialBridge.dir/flags.make
/serialbridge/CMakeFiles/SerialBridge.dir/link.txt
/serialbridge/CMakeFiles/SerialBridge.dir/progress.make
/serialbridge/CMakeFiles/SerialBridge.dir/src/Arguments.cpp.o
/serialbridge/CMakeFiles/SerialBridge.dir/src/main.cpp.o
/serialbridge/CMakeFiles/TargetDirectories.txt
/serialbridge/Makefile
/serialbridge/cmake_install.cmake

/software/build*/
